.menu-drawer {
  width: 240px;
  flex-shrink: 0;
  white-space: nowrap;
  box-sizing: border-box;
}

.menu-drawer-open, .menu-drawer-open > .MuiDrawer-paper {
  overflow-x: hidden;
  transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  width: 240px
}

.menu-drawer-closed, .menu-drawer-closed > .MuiDrawer-paper {
  @media (min-width: 600px) {
    width: calc(64px + 1px)
  }
  overflow-x: hidden;
  transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  width: 57px 
}

.drawer-head {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  min-height: 70px;
  padding: 0 8px;
}

.main-content {
  margin-top: 56px;
}

.app-bar {
  z-index: 1300!important;
  max-height: 71px;
  transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms!important;

}

.app-bar-opened {
  width: calc(100% - 240px)!important;
}